<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .btn-edit {
        background: orange;
        outline: none;
        border: none;
        height: 25px;
        width: 60;
        margin: 5;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-delete {
        background: rgb(233, 77, 77);
        outline: none;
        border: none;
        height: 25px;
        width: 60;
        margin: 5;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i<data.length; i++) {%>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td><a href="/edit-crud?id=<%= data[i].id %>"><button type="button" class="btn-edit">edit</button></a>
                    <a href="/display-delete-crud?id=<%= data[i].id %>"><button type="button"
                            class="btn-delete">delete</button></a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>